.jumbotron {
    padding-top: 42px;
    padding-bottom: 8px;
    /*background-color: #d3f1ff;*/
    border-bottom: thin solid #dddddd;
}

.post-jumbotron {
    padding-bottom: 0px;
}

.fixedheight {
    position: inherit;
    height: auto;
}

/*.pull-down {*/
    /*position: inherit;*/
/*}*/

.nav-compact > li > a {
    padding: 10px 5px;
}

.img-right {
    float: inherit;
    margin-left: 0px;
}

.img-left {
    float: inherit;
    margin-right: in 0px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 28px;
    }

    .post-jumbotron {
        padding-bottom: 8px;
    }

    .fixedheight {
        height: 170px;
        position: relative;
    }

    .pull-down {
        position: absolute;
        bottom: 0;
        margin-bottom: 7px;
        right: 25px;
    }

    .nav-compact > li > a {
        padding: 10px 5px;
    }

    .img-right {
        float: right;
        margin-left: 10px;
    }

    .img-left {
        float: left;
        margin-right: 10px;
    }
}

blockquote {
    font-style: italic;
    color: #464646;
}

h2 {
    font-size: 21px;
    text-transform: lowercase;
    font-weight: normal;
}

.sub-menu {
    border-radius: 5px;
}


.nav-compact > li > a {
    padding: 10px 5px;
}

.col-align-bottom {
    vertical-align: bottom;
}

blockquote p {
    font-size: 100%;
    font-weight: 300;
}

.post-jumbotron h1 {
    font-size: 25px;
    color: #424242;
}

.post-date {
    font-size: 10px;
    text-transform: lowercase;
    color: #555555;
}

.post-address {
    display: none;
}

.print-nl {
    display: none;
}

.toc_title {
    font-size: 100%;
    font-weight: bold;
    color: #424242;
}

.toc_date {
    font-size: 10px;
    text-transform: lowercase;
    color: #555555;
}

.toc_excerpt {

}

.toc_more {
    font-size: 80%;
    font-style: italic;
}

.tag_toc_header {
    font-size: 80%;
    font-weight: bold;
}

.tag_toc_item {
    font-size: 80%;
}

.tag_toc_date {
    font-size: 80%;
    color: #676767
}

.dic-lang {
    color: #929292;
    font-family: monospace;
}


.dic-word {
    color: #4e4e4e;
    font-weight: bold;
}

.alfabet_select {
    color: #000000;
}

.alfabet {
    font-family: monospace;
    font-size: 11pt;
}

.alfabet_lang {
    font-size: 7pt;
}

.dict-tech {
    font-style: italic;
    color: #929292
}


.map_canvas {
    width: 500px;
    height: 300px;
    background-color: #CCC;
}

.main-link {
    font-weight: bold;
}

.main-header {
    font-size: 21pt;
}

.main-img {
}

.main-row {
    margin-bottom:25px;
}

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
}