.sub-menu {
    display:none !important;
}

.no-print {
    display:none !important;
}

.post-address {
    display: block !important;
    font-size: 10px;
    text-transform:lowercase;
    color: #555555;
}

.print-nl {
    display: block !important;
    color: #ffffff;
    page-break-before:always
}

body {
    font-size: 9pt;
    line-height: 120%;
    margin-top: 2pt;
    margin-bottom: 2pt;
}