.jumbotron {
    padding-top: 42px;
    padding-bottom: 8px;
    /*background-color: #d3f1ff;*/
}
.post-jumbotron {
    padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
         padding-top: 48px;
         padding-bottom: 28px;
    }
    .post-jumbotron {
        padding-bottom: 8px;
    }
}

.nav-compact > li > a {
    padding: 10px 5px;
}

blockquote p {
    font-size: 100%;
    font-weight: 300;
}

.post-title { 
    font-size: 23px; 
    text-transform:uppercase; 
    font-weight:bold; 
    color: #424242 
}

.post-date {
    font-size: 10px; 
    text-transform:lowercase; 
    color: #555555
}

.toc_title {
    font-size: 100%;
    font-weight:bold;
    color: #424242
}

.toc_date {
    font-size: 10px;
    text-transform:lowercase;
    color: #555555
}

.toc_excerpt {
    
}

.toc_more {
    font-size: 80%;
    font-style: italic;
}

.tag_toc_header {
    font-size: 80%;
    font-weight:bold;
}

.tag_toc_item {
    font-size: 80%;
}

.tag_toc_date {
    font-size: 80%;
    color: #676767    
}