<br>
<div class="row no-print">
    <div class="col-md-9">
        <div>            
            <div style="float:left;"><div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"> </div> </div>
            <div style="float:left;"><a href="https://twitter.com/share" class="twitter-share-button" data-via="arekstryjski" data-lang="pl"></a> </div>
            <div style="float:left;"><div class="g-plusone" data-size="medium" data-annotation="inline" data-width="100"> </div> </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="pull-right"><a role="button" class="btn btn-xs btn-default" href="/{{ include.goto }}"><span class="glyphicon glyphicon-arrow-up"></span> powrót</a></div> 
    </div>
</div>
<script type="text/javascript">
    window.___gcfg = {lang: 'pl'};
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

