<div id="quick_search" class="input-group no-print">
    <input id="quick_search_field" type="text" class="quick-search-field form-control" placeholder="wpisz słowo" size="100">
    <span class="input-group-addon alfabet">        
        {% assign lang = include.lang %}
        {% if page.title == 'a' %} <a class="alfabet_select" href="/dict/{{lang}}/a/">A</a> {% else %} <a href="/dict/{{lang}}/a/">A</a> {% endif %}    
        {% if page.title == 'b' %} <a class="alfabet_select" href="/dict/{{lang}}/b/">B</a> {% else %} <a href="/dict/{{lang}}/b/">B</a> {% endif %}    
        {% if page.title == 'c' %} <a class="alfabet_select" href="/dict/{{lang}}/c/">C</a> {% else %} <a href="/dict/{{lang}}/c/">C</a> {% endif %}    
        {% if page.title == 'd' %} <a class="alfabet_select" href="/dict/{{lang}}/d/">D</a> {% else %} <a href="/dict/{{lang}}/d/">D</a> {% endif %}    
        {% if page.title == 'e' %} <a class="alfabet_select" href="/dict/{{lang}}/e/">E</a> {% else %} <a href="/dict/{{lang}}/e/">E</a> {% endif %}    
        {% if page.title == 'f' %} <a class="alfabet_select" href="/dict/{{lang}}/f/">F</a> {% else %} <a href="/dict/{{lang}}/f/">F</a> {% endif %}    
        {% if page.title == 'g' %} <a class="alfabet_select" href="/dict/{{lang}}/g/">G</a> {% else %} <a href="/dict/{{lang}}/g/">G</a> {% endif %}    
        {% if page.title == 'h' %} <a class="alfabet_select" href="/dict/{{lang}}/h/">H</a> {% else %} <a href="/dict/{{lang}}/h/">H</a> {% endif %}    
        {% if page.title == 'i' %} <a class="alfabet_select" href="/dict/{{lang}}/i/">I</a> {% else %} <a href="/dict/{{lang}}/i/">I</a> {% endif %}    
        {% if page.title == 'j' %} <a class="alfabet_select" href="/dict/{{lang}}/j/">J</a> {% else %} <a href="/dict/{{lang}}/j/">J</a> {% endif %}    
        {% if page.title == 'k' %} <a class="alfabet_select" href="/dict/{{lang}}/k/">K</a> {% else %} <a href="/dict/{{lang}}/k/">K</a> {% endif %}    
        {% if page.title == 'l' %} <a class="alfabet_select" href="/dict/{{lang}}/l/">L</a> {% else %} <a href="/dict/{{lang}}/l/">L</a> {% endif %}    
        {% if page.title == 'n' %} <a class="alfabet_select" href="/dict/{{lang}}/n/">N</a> {% else %} <a href="/dict/{{lang}}/n/">N</a> {% endif %}    
        {% if page.title == 'm' %} <a class="alfabet_select" href="/dict/{{lang}}/m/">M</a> {% else %} <a href="/dict/{{lang}}/m/">M</a> {% endif %}    
        {% if page.title == 'o' %} <a class="alfabet_select" href="/dict/{{lang}}/o/">O</a> {% else %} <a href="/dict/{{lang}}/o/">O</a> {% endif %}                    
        {% if lang == 'pl' %} {% if page.title == 'ó' %} <a class="alfabet_select" href="/dict/{{lang}}/%C3%B3/">Ó</a> {% else %} <a href="/dict/{{lang}}/%C3%B3/">Ó</a> {% endif %}{% endif %}    
        {% if page.title == 'p' %} <a class="alfabet_select" href="/dict/{{lang}}/p/">P</a> {% else %} <a href="/dict/{{lang}}/p/">P</a> {% endif %}    
        {% if page.title == 'q' %} <a class="alfabet_select" href="/dict/{{lang}}/q/">Q</a> {% else %} <a href="/dict/{{lang}}/q/">Q</a>{% endif %}    
        {% if page.title == 'r' %} <a class="alfabet_select" href="/dict/{{lang}}/r/">R</a> {% else %} <a href="/dict/{{lang}}/r/">R</a> {% endif %}    
        {% if page.title == 's' %} <a class="alfabet_select" href="/dict/{{lang}}/s/">S</a> {% else %} <a href="/dict/{{lang}}/s/">S</a> {% endif %}    
        {% if lang == 'pl' %} {% if page.title == 'ś' %} <a class="alfabet_select" href="/dict/{{lang}}/%C5%9B/">Ś</a> {% else %} <a href="/dict/{{lang}}/%C5%9B/">Ś</a> {% endif %} {% endif %}    
        {% if page.title == 't' %} <a class="alfabet_select" href="/dict/{{lang}}/t/">T</a> {% else %} <a href="/dict/{{lang}}/t/">T</a> {% endif %}    
        {% if page.title == 'u' %} <a class="alfabet_select" href="/dict/{{lang}}/u/">U</a> {% else %} <a href="/dict/{{lang}}/u/">U</a> {% endif %}    
        {% if page.title == 'v' %} <a class="alfabet_select" href="/dict/{{lang}}/v/">V</a> {% else %} <a href="/dict/{{lang}}/v/">V</a> {% endif %}    
        {% if page.title == 'w' %} <a class="alfabet_select" href="/dict/{{lang}}/w/">W</a> {% else %} <a href="/dict/{{lang}}/w/">W</a> {% endif %}    
        {% if page.title == 'x' %} <a class="alfabet_select" href="/dict/{{lang}}/x/">X</a> {% else %} <a href="/dict/{{lang}}/x/">X</a> {% endif %}    
        {% if page.title == 'y' %} <a class="alfabet_select" href="/dict/{{lang}}/y/">Y</a> {% else %} <a href="/dict/{{lang}}/y/">Y</a> {% endif %}    
        {% if page.title == 'z' %} <a class="alfabet_select" href="/dict/{{lang}}/z/">Z</a> {% else %} <a href="/dict/{{lang}}/z/">Z</a> {% endif %}    
        {% if lang == 'pl' %} {% if page.title == 'ż' %} <a class="alfabet_select" href="/dict/{{lang}}/%C5%BC/">Ż</a> {% else %} <a href="/dict/{{lang}}/%C5%BC/">Ż</a> {% endif %} {% endif %}
        {% if lang == 'pl' %} <a class="alfabet_lang" href="/dict/en/">[en]</a> {% endif %} {% if lang == 'en' %} <a class="alfabet_lang" href="/dict/pl/">[pl]</a> {% endif %}
    </span>
    <ul id="quick_search_results" class="dropdown-menu" role="menu" aria-labelledby="quick_search_field"></ul>                                     
</div>   


