{% assign lang = include.lang %}
<p class="no-print alfabet">
<strong>
    {% if page.title == 'a' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/a.html">A</a>
    {% else %}
    <a href="/dict/{{lang}}/a.html">A</a>
    {% endif %}

    {% if page.title == 'b' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/b.html">B</a>
    {% else %}
    <a href="/dict/{{lang}}/b.html">B</a>
    {% endif %}

    {% if page.title == 'c' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/c.html">C</a>
    {% else %}
    <a href="/dict/{{lang}}/c.html">C</a>
    {% endif %}

    {% if page.title == 'd' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/d.html">D</a>
    {% else %}
    <a href="/dict/{{lang}}/d.html">D</a>
    {% endif %}

    {% if page.title == 'e' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/e.html">E</a>
    {% else %}
    <a href="/dict/{{lang}}/e.html">E</a>
    {% endif %}

    {% if page.title == 'f' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/f.html">F</a>
    {% else %}
    <a href="/dict/{{lang}}/f.html">F</a>
    {% endif %}

    {% if page.title == 'g' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/g.html">G</a>
    {% else %}
    <a href="/dict/{{lang}}/g.html">G</a>
    {% endif %}

    {% if page.title == 'h' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/h.html">H</a>
    {% else %}
    <a href="/dict/{{lang}}/h.html">H</a>
    {% endif %}

    {% if page.title == 'i' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/i.html">I</a>
    {% else %}
    <a href="/dict/{{lang}}/i.html">I</a>
    {% endif %}

    {% if page.title == 'j' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/j.html">J</a>
    {% else %}
    <a href="/dict/{{lang}}/j.html">J</a>
    {% endif %}

    {% if page.title == 'k' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/k.html">K</a>
    {% else %}
    <a href="/dict/{{lang}}/k.html">K</a>
    {% endif %}

    {% if page.title == 'l' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/l.html">L</a>
    {% else %}
    <a href="/dict/{{lang}}/l.html">L</a>
    {% endif %}

    {% if page.title == 'n' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/n.html">N</a>
    {% else %}
    <a href="/dict/{{lang}}/n.html">N</a>
    {% endif %}

    {% if page.title == 'm' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/m.html">M</a>
    {% else %}
    <a href="/dict/{{lang}}/m.html">M</a>
    {% endif %}

    {% if page.title == 'o' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/o.html">O</a>
    {% else %}
    <a href="/dict/{{lang}}/o.html">O</a>
    {% endif %}

    {% if page.title == 'p' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/p.html">P</a>
    {% else %}
    <a href="/dict/{{lang}}/p.html">P</a>
    {% endif %}

    {% if page.title == 'q' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/q.html">Q</a>
    {% else %}
    <a href="/dict/{{lang}}/q.html">Q</a>
    {% endif %}

    {% if page.title == 'r' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/r.html">R</a>
    {% else %}
    <a href="/dict/{{lang}}/r.html">R</a>
    {% endif %}

    {% if page.title == 's' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/s.html">S</a>
    {% else %}
    <a href="/dict/{{lang}}/s.html">S</a>
    {% endif %}

    {% if lang == 'pl' %}
    {% if page.title == 'ś' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/%C5%9B.html">Ś</a>
    {% else %}
    <a href="/dict/{{lang}}/%C5%9B.html">Ś</a>
    {% endif %}
    {% endif %}

    {% if page.title == 't' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/t.html">T</a>
    {% else %}
    <a href="/dict/{{lang}}/t.html">T</a>
    {% endif %}

    {% if page.title == 'u' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/u.html">U</a>
    {% else %}
    <a href="/dict/{{lang}}/u.html">U</a>
    {% endif %}

    {% if page.title == 'v' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/v.html">V</a>
    {% else %}
    <a href="/dict/{{lang}}/v.html">V</a>
    {% endif %}

    {% if page.title == 'w' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/w.html">W</a>
    {% else %}
    <a href="/dict/{{lang}}/w.html">W</a>
    {% endif %}

    {% if page.title == 'x' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/x.html">X</a>
    {% else %}
    <a href="/dict/{{lang}}/x.html">X</a>
    {% endif %}

    {% if page.title == 'y' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/y.html">Y</a>
    {% else %}
    <a href="/dict/{{lang}}/y.html">Y</a>
    {% endif %}

    {% if page.title == 'z' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/z.html">Z</a>
    {% else %}
    <a href="/dict/{{lang}}/z.html">Z</a>
    {% endif %}

    {% if lang == 'pl' %}
    {% if page.title == 'ż' %}
    <a class="dict_letter_select" href="/dict/{{lang}}/%C5%BC.html">Ż</a>
    {% else %}
    <a href="/dict/{{lang}}/%C5%BC.html">Ż</a>
    {% endif %}
    {% endif %}
</strong>
&nbsp;
{% if lang == 'pl' %}
<a href="/dict/en/"><small>angielski</small></a>
{% endif %}
{% if lang == 'en' %}
<a href="/dict/pl/"><small>polski</small></a>
{% endif %}
</p>