<div class="row no-print">
    <div class="col-md-9">
        <br>
        <a role="button" class="btn btn-xs btn-success" href="/dict/">słownik strona domowa</a>
        
        {% if page.cat != null %}
        / <a role="button" class="btn btn-xs btn-info" href="/dict/{{page.cat}}.html">{{page.cat}}</a>
        {% endif %}
        
        {% if page.sub != null %}
        / <a role="button" class="btn btn-xs btn-info" href="/dict/{{page.sub}}.html">{{page.sub | replace: '-', ' '}}</a>
        {% endif %}
    </div>
    <br>
</div>