<strong>
    {% if page.title == 'a' %}
        <a class="dict_letter_select" href="/dict/en/a.html">A</a>
    {% else %}
        <a href="/dict/en/a.html">A</a>
    {% endif %}

    {% if page.title == 'b' %}
    <a class="dict_letter_select" href="/dict/en/b.html">B</a>
    {% else %}
    <a href="/dict/en/b.html">B</a>
    {% endif %}

    {% if page.title == 'c' %}
    <a class="dict_letter_select" href="/dict/en/c.html"C></a>
    {% else %}
    <a href="/dict/en/c.html">C</a>
    {% endif %}

    {% if page.title == 'd' %}
    <a class="dict_letter_select" href="/dict/en/d.html">D</a>
    {% else %}
    <a href="/dict/en/d.html">D</a>
    {% endif %}

    {% if page.title == 'e' %}
    <a class="dict_letter_select" href="/dict/en/e.html">E</a>
    {% else %}
    <a href="/dict/en/e.html">E</a>
    {% endif %}

    {% if page.title == 'f' %}
    <a class="dict_letter_select" href="/dict/en/f.html">F</a>
    {% else %}
    <a href="/dict/en/f.html">F</a>
    {% endif %}

    {% if page.title == 'g' %}
    <a class="dict_letter_select" href="/dict/en/g.html">G</a>
    {% else %}
    <a href="/dict/en/g.html">G</a>
    {% endif %}

    {% if page.title == 'h' %}
    <a class="dict_letter_select" href="/dict/en/h.html">H</a>
    {% else %}
    <a href="/dict/en/h.html">H</a>
    {% endif %}

    {% if page.title == 'i' %}
    <a class="dict_letter_select" href="/dict/en/i.html">I</a>
    {% else %}
    <a href="/dict/en/i.html">I</a>
    {% endif %}

    {% if page.title == 'j' %}
    <a class="dict_letter_select" href="/dict/en/j.html">J</a>
    {% else %}
    <a href="/dict/en/j.html">J</a>
    {% endif %}

    {% if page.title == 'k' %}
    <a class="dict_letter_select" href="/dict/en/k.html">K</a>
    {% else %}
    <a href="/dict/en/k.html">K</a>
    {% endif %}

    {% if page.title == 'l' %}
    <a class="dict_letter_select" href="/dict/en/l.html">L</a>
    {% else %}
    <a href="/dict/en/l.html">L</a>
    {% endif %}

    {% if page.title == 'n' %}
    <a class="dict_letter_select" href="/dict/en/n.html">N</a>
    {% else %}
    <a href="/dict/en/n.html">N</a>
    {% endif %}

    {% if page.title == 'm' %}
    <a class="dict_letter_select" href="/dict/en/m.html">M</a>
    {% else %}
    <a href="/dict/en/m.html">M</a>
    {% endif %}

    {% if page.title == 'o' %}
    <a class="dict_letter_select" href="/dict/en/o.html">O</a>
    {% else %}
    <a href="/dict/en/o.html">O</a>
    {% endif %}

    {% if page.title == 'p' %}
    <a class="dict_letter_select" href="/dict/en/p.html">P</a>
    {% else %}
    <a href="/dict/en/p.html">P</a>
    {% endif %}

    {% if page.title == 'q' %}
    <a class="dict_letter_select" href="/dict/en/q.html">Q</a>
    {% else %}
    <a href="/dict/en/q.html">Q</a>
    {% endif %}

    {% if page.title == 'r' %}
    <a class="dict_letter_select" href="/dict/en/r.html">R</a>
    {% else %}
    <a href="/dict/en/r.html">R</a>
    {% endif %}

    {% if page.title == 's' %}
    <a class="dict_letter_select" href="/dict/en/s.html">S</a>
    {% else %}
    <a href="/dict/en/s.html">S</a>
    {% endif %}

    {% if page.title == 't' %}
    <a class="dict_letter_select" href="/dict/en/t.html">T</a>
    {% else %}
    <a href="/dict/en/t.html">T</a>
    {% endif %}

    {% if page.title == 'u' %}
    <a class="dict_letter_select" href="/dict/en/u.html">U</a>
    {% else %}
    <a href="/dict/en/u.html">U</a>
    {% endif %}

    {% if page.title == 'v' %}
    <a class="dict_letter_select" href="/dict/en/v.html">V</a>
    {% else %}
    <a href="/dict/en/v.html">V</a>
    {% endif %}

    {% if page.title == 'w' %}
    <a class="dict_letter_select" href="/dict/en/w.html">W</a>
    {% else %}
    <a href="/dict/en/w.html">W</a>
    {% endif %}

    {% if page.title == 'x' %}
    <a class="dict_letter_select" href="/dict/en/x.html">X</a>
    {% else %}
    <a href="/dict/en/x.html">X</a>
    {% endif %}

    {% if page.title == 'y' %}
    <a class="dict_letter_select" href="/dict/en/y.html">Y</a>
    {% else %}
    <a href="/dict/en/y.html">Y</a>
    {% endif %}

    {% if page.title == 'z' %}
    <a class="dict_letter_select" href="/dict/en/z.html">Z</a>
    {% else %}
    <a href="/dict/en/z.html">Z</a>
    {% endif %}    
</strong>
<a href="/dict/pl/">polski</a>