<footer class="site-footer">
    <hr>
	<div class="container">      
		<div class="row">
			<div class="col-sm-6">
				<small class="text-muted credit">Copyright &copy; Arek Stryjski</small>
			</div>
            <div class="col-sm-6 no-print">
                <small class="text-muted credit pull-right">
                    arek <a href="/arek/email.html"><img src="/img/bt/email.png" alt="Arek Stryjski e-mail" class="img-no-responsive"></a> stryjski.net
                </small>
            </div>
		</div>
        <div class="row no-print">
            <div class="col-sm-12">
                <small class="text-muted credit">&nbsp;</small>
            </div>
        </div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="/js/quickSearch.js"></script>
<script src="/js/local.js"></script>
<script src="/js/ga.js"></script>
</body>
</html>
