<hr>
<footer class="site-footer">
	<div class="container">      
		<div class="row">
			<div class="col-lg-12">
				<p>&copy; Arek Stryjski 2013</p>
			</div>
		</div>
	</div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="/local.js"></script>
<script src="/ga.js"></script>
</body>
</html>
