<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Arek Stryjski"/>
    {% if page.en == null %}
    <meta name="description" content="{{page.desc}}"/>
    {% else %}
    <meta name="description" content="Angielsko-Polski słownik żeglarski >> {{ page.en }} - {{ page.pl }}"/>
    {% endif %}
    
    <meta property="fb:app_id" content="712513365439463" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:locale" content="pl_PL"/>
    <meta property="og:site_name" content="Arek Stryjski"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.en == null %}
    <meta property="og:description" content="{{ page.desc }}"/>
    {% endif %}
    {% if page.img != null %}
    <meta property="og:image" content="{{ site.url }}{{ page.img }}"/>
    <meta property="og:image:type" content="image/jpeg"/>
    {% endif %}

    <link rel="shortcut icon" href="/img/logo/as_small.png">

    {% if page.en == null %}
    <title>{{ page.title }} :: Arek Stryjski</title>
    {% else %}
    <title>{{ page.en }} - {{ page.pl }} :: słownik żeglarski :: Arek Stryjski</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/local.css"/>
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
    {% if page.no_index == true %}
    <meta name="robots" content="noindex">
    {% endif %}
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id)
{
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Arek Stryjski</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="/rejsy/" class="dropdown-toggle" data-toggle="dropdown">rejsy <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/rejsy/">plany</a></li>
                        <li><a href="/relacje/">relacje</a></li>
                        <li><a href="/arek/kalendarz.html">kalendarz</a></li>
                    </ul>
                </li>
                <li><a href="/dict/">słownik</a></li>
                <li class="dropdown">
                    <a href="/art.html" class="dropdown-toggle" data-toggle="dropdown">artykuły <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/yachting/">żeglarstwo</a></li>
                        <li><a href="/inne/">inne</a></li>
                        <li class="divider"></li>
                        <li><a href="https://plus.google.com/photos/+ArekStryjski/albums">albumy</a></li>
                        <li class="divider"></li>
                        <li><a href="/archiwum/">archiwum</a></li>
                    </ul>
                </li>
                <li><a href="/arek/">o mnie</a></li>
            </ul>
            {% include search.html goto="" %}
        </div>
    </div>
</div>
