<div class="row alert alert-info">   
    <div class="col-sm-8">
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>koje:</li>
                <li><span type="label" class="label label-default">&nbsp;&nbsp;</span> skipper</li>
                <li><span type="label" class="label label-success">&nbsp;&nbsp;</span> zarezerwowane</li>
                <li><span type="label" class="label label-warning">&nbsp;&nbsp;</span> wstępna rezerwacja</li>
                <li><span type="label" class="label label-primary">&nbsp;&nbsp;</span> wolne</li>
            </ul>
        </div> 
        <b>rezerwacja 1 tydzień</b>
        <span type="label" class="label label-default">&nbsp;&nbsp;</span>    
        <span type="label" class="label label-success">&nbsp;&nbsp;</span>    
        <span type="label" class="label label-warning">&nbsp;&nbsp;</span>    
        <span type="label" class="label label-primary">&nbsp;&nbsp;</span>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-xs btn-success pull-right">zarezerwuj miejsce</button>
        <span class="pull-right" >&nbsp;&nbsp;</span>
        <button type="button" class="btn btn-xs btn-primary pull-right">mam pytanie</button>  
    </div> 
</div>