<div id="mc_embed_signup">
<form action="http://stryjski.us3.list-manage.com/subscribe/post?u=b1f596c4893ce0723520c7c5d&amp;id=017b7080de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">powiadom mnie o nowościach</label>
	<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Twój e-mail" required>
    <br>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b1f596c4893ce0723520c7c5d_017b7080de" value=""></div>
	<div class="clear"><input type="submit" value="dodaj" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger btn-sm pull-right"></div>
</form>
</div>