<div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search" action="http://www.google.co.uk" id="cse-search-box" target="_blank">
        <input type="hidden" name="cx" value="partner-pub-5778198542630898:7753965369"/>
        <input type="hidden" name="ie" value="UTF-8"/>

        <div class="input-group">
            <input class="form-control" type="text" name="q" size="24"/>

            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" name="sa"><i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="http://www.google.co.uk/coop/cse/brand?form=cse-search-box&amp;lang=pl"></script>
