<div class="{{ include.col }} sub-menu">
    {% if page.category != null %}
        <p class="tag_toc_header">najnowsze artykuły w kategorii <i><a href="/{{ page.category }}"> {{ page.category }}</a></i>:</p>
        {% assign count = 0 %}
        {% for post in site.posts %}
            {% if post.category contains page.category %}
                {% if count < 10 %}
                    {% assign count = count|plus:1 %}
                    <p class="tag_toc_item">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <span class="tag_toc_date"> ({{ post.date | date:"%d.%m.%Y" }})</span>
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


