{% include header.html %}  
        
<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.title }}</h1>
        <h6 class="post-date">aktualizowany automatycznie</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/calendar/embed?title=Rejsy%20-%20Arek%20Stryjski&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=pl&amp;bgcolor=%23FFFFFF&amp;src=nhhmi2tu3qpobahs5bu672u47s%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="700" height="500" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="col-md-12">
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row main-row">
                <div class="col-md-12">
                    {% include newsletter.html %}
                </div>
            </div>
        </div>
    </div>
    {% include back_btn.html goto=page.category  %}
</div>

{% include footer.html %}