{% include header.html %}

{% assign cat = page.url | split: '/' %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.en }} / {{ page.pl }}</h1>
        <h6 class="post-date">{{ page.cat }}</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>
<div class="container">
    {% include dict_crumbs.html %}
    <div class="row">
        <div class="col-sm-8">
            {% include dict_haslo.html %}
            {{ content }}
            {% if page.sub != null %}
            <p>
                <em>zobacz także inne hasła w podkategorii: </em>
                <a role="button" class="btn btn-xs btn-info" href="/dict/{{page.sub}}.html">{{page.sub | replace: '-', ' '}}</a>
            </p>
            {% endif %}
        </div>
        <div class="col-sm-1">
            <div></div>
        </div>
        <div class="col-sm-3">
            {% include social_btn.html %}
        </div>
    </div>
</div>

{% include footer.html %}