{% include header.html %}

{% assign cat = page.url | split: '/' %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.en }} / {{ page.pl }}</h1>
        <h6 class="post-date">{{ page.cat }}</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>
<div class="container">
    {% include dict_crumbs.html %}
    <div class="row">
        <div class="col-sm-8">
            {% include dict_haslo.html %}
            {{ content }}
            <h2>hasła w tej podkategorii: </h2>
            <p><ul>
                {% assign words = site.pages | sort: 'url' %}
                {% for w in words %}
                {% assign s = w.sub | replace: '-', ' ' %}
                {% if s == page.en and w.url contains 'dict' %}
                <li><a href="{{w.url}}">{{ w.en }}</a> - {{ w.pl }}</li>
                {% endif %}
                {% endfor %}
        </ul></p>
        </div>
        <div class="col-sm-1">
            <div></div>
        </div>
        <div class="col-sm-3">
            {% include social_btn.html %}
        </div>
    </div>
</div>

{% include footer.html %}