{% include header.html %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">litera: {{ page.title | upcase }}</h1>
        <h6 class="post-date">angielsko - polski słownik żeglarski</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>

<div class="container">
    {% include dict_crumbs.html %}
    <div class="row">
        <div class="col-sm-8">
            <ul>
                {% assign words = site.pages | sort: 'name' %}
                {% for word in words %}
                {% if word.pl != null %}
                {% assign ch = word.pl | split : '' %}
                {% if ch[0] == page.title %}
                <li>{{ word.pl }} {{word.title}} - <a href="{{word.url}}">{{ word.en }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-1">
            <div></div>
        </div>
        <div class="col-sm-3">
            {% include social_btn.html %}
        </div>
    </div>
</div>

{% include footer.html %}