{% include header.html %}

{% assign ch = page.title | upcase %}
{% assign t = 'hasła polskie: ' | append: ch %}
{% assign l = page.title | size %}
{% if l > 2 %}
{% assign t = page.title %}
{% endif %}
        
<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ t }}</h1>
        <h6 class="post-date">angielsko - polski słownik żeglarski</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>

<div class="container">
    {% include dict_alfabet.html lang="pl" %}
    {% include dict_crumbs.html %}
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-10">
                    <h4 class="dic-lang dic-word">{{ page.pho }} {{ page.morse }}</h4>
                    {{ content }}
                </div>
                <div class="col-sm-2">
                    {% if page.title != 'ś' and page.title != 'ż' and page.title != 'ó' and l < 2 %}
                    <img src="/img/letters/{{page.title}}.png"/>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <ul>
                            {% assign words = site.pages | sort: 'name' %}
                            {% for word in words %}
                                {% if word.pl != null %}
                                    {% assign ch = word.pl | split : '' %}
                                    {% assign char = ch[0] | downcase %}
                                    {% if char == page.title %}
                                        <li>{{ word.pl }} {{word.title}} - <a href="{{word.url}}">{{ word.en }}</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if word.pl2 != null %}
                                    {% assign ch = word.pl2 | split : '' %}
                                    {% assign char = ch[0] | downcase %}
                                    {% if char == page.title %}
                                        <li>{{ word.pl2 }} {{word.title}} - <a href="{{word.url}}">{{ word.en }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            {% include social_btn.html %}
        </div>
    </div>  
</div>

{% include footer.html %}











