{% include header.html %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.en }} - {{ page.pl }}</h1>
        <h6 class="post-date">&nbsp;</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>

{% assign cat = page.url | split: '/' %}
{% assign index = 2 %}
{% if cat[4] != null %}
{% assign index = 3 %}
{% endif %}

<div class="container">
    {% include dict_crumbs.html %}
    <div class="row">
        <div class="col-sm-8">
        <ul>
                {% assign words = site.pages | sort: 'url' %}
                {% for page in words %}
                {% if page.url contains cat[index] and page.url contains 'dict' %}
                {% if page.url contains 'index' %}
                {% else %}
                <li><a href="{{page.url}}">{{ page.en }}</a> - {{ page.pl }}</li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-1">
            <div></div>
        </div>
        <div class="col-sm-3">
            {% include social_btn.html %}
        </div>
    </div>
</div>

{% include footer.html %}