{% include header.html %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h2 class="post-title">{{ page.title }}</h2>
        <h6 class="post-date">{{ content }}</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form" action="http://getsimpleform.com/messages?form_api_token=52d9d47888a36b51f3ccdc1d385f681c" method="post">
                <input type='hidden' name='redirect_to' value='<http://stryjski.net/email-send.html>' />
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">imię</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Twoje Imię">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" placeholder="Twój e-mail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">temat</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subject" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">treść</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="message" rows="7" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Wyślij</button>
                    </div>
                </div>
            </form>
    </div>
</div>

{% include footer.html %}