{% include header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="hidden-xs img-no-responsive" src="/img/logo/as_mid.png" alt="Arek Stryjski">
            </div>
            <div class="col-md-8 text-right">
                <p class="main-ahoj">Ahoj!</p>
                <p>
                    Witam i zapraszam do eksploracji strony.
                </p>
                <h1 class="main-podpis">Arek Stryjski</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">     
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <iframe src="//widgets-code.websta.me/w/10fc801434d9?ck=MjAxNy0wNC0wNVQxMzo1ODozNS4wMDBa" 
                            allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:auto;height:220px;width:980px;">                        
                    </iframe> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/dict/" class="main-link"><img class="main-img img-right" src="/img/logo/beta_small.jpg" alt="słownik"/></a> 
                    <h2 class="main-header">słownik</h2>
                    <p>                        
                        Poszukujesz tłumaczenia jakiegoś terminu żeglarskiego? <br>
                        Znajdź odpowiednią <a href="/dict/" class="main-link">kategorię</a> 
                        albo wpisz słowo tutaj: 
                    </p>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">                                          
                        {% include dict_alfabet.html lang="en" %}
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">planowane rejsy</h2>
                    <p>
                        Najnowsze informacje na temat <a href="/rejsy/" class="main-link">planowanych rejsów</a>,
                        a także tych o których dopiero marzymy.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/rejsy/" class="main-link"><img class="main-img" src="/img/2015/svalbard/koniec-swiata.jpg" alt="rejsy"/></a>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">relacje</h2>
                    <p>
                        <a href="/relacje/" class="main-link">Relacje</a> i wspomnienie z miejsc gdzie już byliśmy.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/relacje/" class="main-link"><img class="main-img" src="/img/2015/svalbard/svalbard.jpg" alt="relacje"/></a>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">artykuły</h2>
                    <p>
                        Przydatne informacje związane z <a href="/yachting/" class="main-link">żeglarstwem</a>, 
                        ale <a href="/inne/" class="main-link">nie tylko</a>.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/art/" class="main-link"><img class="main-img" src="/img/frontpage/rura.jpg" alt="artykuły"/></a>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">o mnie</h2>
                    <p>
                        W czym mogę pomóc, a także wszystko <a href="/arek/" class="main-link">o mnie</a> 
                        co chcielibyście się dowiedzieć.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/arek/" class="main-link"><img class="main-img" src="/img/frontpage/arek_stryjski.jpg" alt="Arek Stryjski"/></a>
                </div>
            </div>
        </div>
    </div>   
</div>

<!--[if !(lte IE 8)]><!-->
<script type="text/javascript">
    (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
</script>
<!--<![endif]-->


{% include footer.html %}

