{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Ahoy!</h1>
        <p>	
            Witam wszystkich pasjonatów żeglarstwa i nie tylko. 
        </p>
        <p>
            Zapraszam do eksploracji strony i do zobaczenia na pokładzie,<br/>
            <i>Arek</i>
	    </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4 fixedheight">
            <h2>rejsy</h2>
            <p>
                Najnowsze informacje na temat planowanych rejsów, 
                a także tych o których dopiero marzymy.
            </p>
            {% include bt.html url="/rejsy" style="btn-primary" %}
        </div>
        <div class="col-md-4 fixedheight">
            <h2>o mnie</h2>
            <p>
                Wszystko o mnie czego chcielibyście się dowiedzieć. 
                Także informacje w czym mogę Wam pomóc.
            </p>
            {% include bt.html url="/arek" style="btn-default" %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4 fixedheight">
            <h2>relacje</h2>
            <p>
                Wspomnienia z bliższych i dalszych rejsów. 
                Okazja do wspomnień, ale i do snucia wspólnych planów.
            </p>
            {% include bt.html url="/relacje" style="btn-default" %}
        </div>
        <div class="col-md-4 fixedheight">
            <h2>wiki</h2>
            <p>
                Wszelkie informacje związane z żeglarstwem. 
                Mam nadzieję, że znajda tu coś dla siebie zarówno "szczury lądowe", jak i "stare wilki morskie". 
            </p>
            {% include bt.html url="/wiki" style="btn-default" %}
        </div>
        <div class="col-md-4 fixedheight">
            <h2>inne</h2>
            <p>
                Wszystko to co nie zmieściło się w żadnej z powyższych kategorii.  
                Tu znajdziecie moje nie żeglarskie pasje i zainteresowania.
            </p>
            {% include bt.html url="/inne" style="btn-default" %}
        </div>
    </div>
</div> <!-- /container -->


{% include footer.html %}

