{% include header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="main-ahoj">Ahoj!</p>
                <p>	
                    Witam na pokładzie.
                </p>
                <p>
                    Zapraszam do eksploracji strony.<br/>
                    Do zobaczenia wkrótce na morzu.
                </p>
                <h1 class="main-podpis">Arek Stryjski</h1>
            </div>
            <div class="col-md-2">
                <img class="hidden-xs img-no-responsive" src="/img/logo/as_240.png" alt="Arek Stryjski">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">     
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a href="/dict/" class="main-link"><img class="main-img img-right" src="/img/logo/beta_small.jpg" alt="słownik"/></a> 
                    <h2 class="main-header">słownik</h2>
                    <p>                        
                        Poszukujesz tłumaczenia jakiegoś terminu żeglarskiego? <br>
                        Znajdź odpowiednią <a href="/dict/" class="main-link">kategorię</a> 
                        albo wpisz słowo tutaj: 
                    </p>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">                                          
                        {% include dict_alfabet.html lang="en" %}
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">rejsy</h2>
                    <p>
                        Najnowsze informacje na temat <a href="/rejsy/" class="main-link">planowanych rejsów</a>,
                        a także tych o których dopiero marzymy.
                    </p>
                    <p>                        
                        <a href="/relacje/" class="main-link">Relacje</a> i wspomnienie z miejsc gdzie już byliśmy.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/rejsy/" class="main-link"><img class="main-img" src="/img/frontpage/zatoka.jpg" alt="rejsy"/></a>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">artykuły</h2>
                    <p>
                        Przydatne informacje związane z <a href="/yachting/" class="main-link">żeglarstwem</a>, 
                        ale <a href="/inne/" class="main-link">nie tylko</a>.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/art.html" class="main-link"><img class="main-img" src="/img/frontpage/rura.jpg" alt="artykuły"/></a>
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-4">
                    <h2 class="main-header">o mnie</h2>
                    <p>
                        W czym mogę pomóc, a także wszystko <a href="/arek/" class="main-link">o mnie</a> 
                        co chcielibyście się dowiedzieć.
                    </p>
                </div>
                <div class="col-md-8">
                    <a href="/arek/" class="main-link"><img class="main-img" src="/img/frontpage/arek_stryjski.jpg" alt="Arek Stryjski"/></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row main-row">
                <div class="col-md-12">
                    {% include newsletter.html %}
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">
                    {% include social_btn.html %}
                </div>
            </div>
        </div>
    </div>   
</div> 


{% include footer.html %}

