{% include header.html %}
     
        
<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.title }}</h1>
        <h6 class="post-date">{{ page.date | date: "%d" | plus:'0' }} {{ page.date | date: "%B %Y" }}</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div>{{ content }}</div>
        </div>
        <div class="col-sm-1">
            <div> </div>
        </div>
        {% include side_menu.html col="col-sm-3" %}
    </div>
    {% include back_btn.html goto=page.category  %}
</div>

{% include footer.html %}