{% include header.html %}
  
        
<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.title }}</h1>
        <h6 class="post-date">ostatnia aktualizacja: {{ page.date | date: "%d" | plus:'0' }} {{ page.date | date: "%B %Y" }}</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div>{{ content }}</div>
        </div>
        <div class="col-sm-3">
            <div class="row main-row">
                <div class="col-md-12">
                    {% include newsletter.html %}
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row main-row">
                <div class="col-md-12">
                    {% include social_btn.html %}
                </div>
            </div>
        </div>
    </div>
    {% include back_btn.html goto="" %}
</div>

{% include footer.html %}