{% include header.html %}

<div class="jumbotron post-jumbotron">
    <div class="container">
        <h1 class="post-title">{{ page.title }}</h1>
        <h6 class="post-date">{{ content }}</h6>
        <h6 class="post-address">{{ site.url }}{{ page.url }}</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {% for post in site.posts %}
            <p>
            <div class="toc_title">{{ post.title }}</div>
            <div class="toc_date">{{ post.date | date: "%d.%m.%Y" }}, <a href="/{{post.category}}">{{post.category}}</a></div>
            <div class="toc_excerpt">
                {{ post.excerpt | strip_html }} <a class="toc_more" href="{{ post.url }}"> więcej...</a>
            </div>
            <br>
            </p>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div> </div>
        </div>
    </div>
    
</div>

{% include footer.html %}